<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
     <property name="hbm2ddl.auto">update</property>  
       <!--  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>  -->
        <property name="hibernate.show_sql">true</property>
        <property name="current_session_context_class">thread</property>
          <!-- mapping properties -->
		<mapping class="com.hospital.model.Department" />
		<mapping class="com.hospital.model.Doctor" /> 
		<mapping class="com.hospital.model.Appointment" />
		<mapping class="com.hospital.model.BloodBank" />
		<mapping class="com.hospital.model.BloodRequest" />
		<mapping class="com.hospital.model.BloodReturn" />
		<mapping class="com.hospital.model.CashCounter" />
		<mapping class="com.hospital.model.Cost" />
		<mapping class="com.hospital.model.CostLog" />
		<mapping class="com.hospital.model.Cssd" />
		<mapping class="com.hospital.model.CssdItemList" />
		<mapping class="com.hospital.model.Donor" />
		<mapping class="com.hospital.model.Diet" />
		<mapping class="com.hospital.model.DietList" />
		<mapping class="com.hospital.model.EMedicalReport" />
		<mapping class="com.hospital.model.Emergency" />
		<mapping class="com.hospital.model.ExpenseApproval" />
		<mapping class="com.hospital.model.HouseKeeping" />
		<mapping class="com.hospital.model.InterBloodTransfusion" />
		<mapping class="com.hospital.model.InPatient" />
		<mapping class="com.hospital.model.Laboratory" />
		<mapping class="com.hospital.model.LaboratoryBilling" />
		<mapping class="com.hospital.model.LaboratoryTest" />
		<mapping class="com.hospital.model.MedicineList" />
		<mapping class="com.hospital.model.Nurse" />
		<mapping class="com.hospital.model.OuterBloodTransfusion" />
		<mapping class="com.hospital.model.Patient" />
		<mapping class="com.hospital.model.PatientBilling" />
		<mapping class="com.hospital.model.Payment" />
		<mapping class="com.hospital.model.PettyCash" />
		<mapping class="com.hospital.model.PharmacyMedicine" />
		<mapping class="com.hospital.model.PurchaseBilling" />
		<mapping class="com.hospital.model.PurchaseOrder" />
		<mapping class="com.hospital.model.Staff" />
		<mapping class="com.hospital.model.StockLedger" />
		<mapping class="com.hospital.model.Surgery" />
		<mapping class="com.hospital.model.TransferDoctorDetails" />
		<mapping class="com.hospital.model.WantedStock" />
		<mapping class="com.hospital.model.WantedStockList" />
		<mapping class="com.hospital.model.Floor" />
		<mapping class="com.hospital.model.RoomManagement" />
		<mapping class="com.hospital.model.Ambulance" />
		<mapping class="com.hospital.model.Tariff" />
		<mapping class="com.hospital.model.Driver" />
		<mapping class="com.hospital.model.AmbulanceRequest" />
		<mapping class="com.hospital.model.LabTechnician" />
		<mapping class="com.hospital.model.Pharmacist" />
		<mapping class="com.hospital.model.Role" />
		<mapping class="com.hospital.model.Permission" />
		<mapping class="com.hospital.model.Users" />
		<mapping class="com.hospital.model.BioMedicalDisposalManagement" />
		<mapping class="com.hospital.model.BioMedicalType" />
		<mapping class="com.hospital.model.BioMedicalWaste" />
		<mapping class="com.hospital.model.BioMedicalWasteDepartment" />
		<mapping class="com.hospital.model.Receptionist" />
		<mapping class="com.hospital.model.Inventory" />
		<mapping class="com.hospital.model.Finance" />
		<mapping class="com.hospital.model.PatientDiagnosis" />
		<mapping class="com.hospital.model.PatientTreatment" />
		<mapping class="com.hospital.model.PatientExamination" />
		<mapping class="com.hospital.model.PatientHistory" />
		<mapping class="com.hospital.model.AdmitPatient" />
		<mapping class="com.hospital.model.BillingMaster" />
		<mapping class="com.hospital.model.BillingChart" />
		<mapping class="com.hospital.model.InventoryItems" />
		<mapping class="com.hospital.model.AccountCategoryChart" />			                            
					                            
					                            
	<mapping class="com.hospital.model.PharmacyOrder" />
	<mapping class="com.hospital.model.SupplierInformation" />
	<mapping class="com.hospital.model.MedicineRequest" />
	<mapping class="com.hospital.model.MedicineRequestToMaster" />
	<mapping class="com.hospital.model.MedicineRequestByPharmacy" />
	<mapping class="com.hospital.model.MedicineIssueToPharmacy" />
	<mapping class="com.hospital.model.MedicineIssued" />
	<mapping class="com.hospital.model.Pharmacy" />
	<mapping class="com.hospital.model.Medicine" />
	<mapping class="com.hospital.model.InvetoryMedicine" />
	<mapping class="com.hospital.model.PatientData" />
	<mapping class="com.hospital.model.MedicineToPatient" />
	<mapping class="com.hospital.model.MedicineTypes" />
	<mapping class="com.hospital.model.MedicineMaster" />
	<mapping class="com.hospital.model.MedicineEntryMaster" />
	<mapping class="com.hospital.model.LabTest" />
	<mapping class="com.hospital.model.ExternalLab" />
	<mapping class="com.hospital.model.LabtestTypes" />
	<mapping class="com.hospital.model.TestSubCategeries" />
	<mapping class="com.hospital.model.LabTestName" />
	<mapping class="com.hospital.model.NewLabRequest" />

	<!-- LabrequestByPatient -->
	<mapping class="com.hospital.model.LabrequestByPatient" />
	<mapping class="com.hospital.model.PatientRequestLabTest" />
	<mapping class="com.hospital.model.PatientRequestSubCatTest" />
	<!-- PatientLabtestReport -->
	<mapping class="com.hospital.model.PatientLabtestReportNames" />
	<mapping class="com.hospital.model.PatientLabReportSubcategeriesNames" />
	<!-- ExternalLabrequest -->
	<mapping class="com.hospital.model.ExternalLabRequest" />
	<!-- Equipment -->
	<mapping class="com.hospital.model.EquipmentData" />
	<!-- Equipment check final -->
	<mapping class="com.hospital.model.EquipmentCheckRequest" />
	<mapping class="com.hospital.model.EquipmentCheckSubCategeries" />

	<!-- Equipment Name All checklist -->
	<mapping class="com.hospital.model.EquipmentCheckData" />
	<mapping class="com.hospital.model.EquipmentCheckSubcategry" />
	<mapping class="com.hospital.model.MaintananceSchedule" />
	<mapping class="com.hospital.model.OrderRepairProduct" />
	<!-- Maintanance Schedule -->
	<mapping class="com.hospital.model.MaintananceScheduling" />
	<mapping class="com.hospital.model.MaintananceScheduleSubCategeries" />
	<!-- Periodic Maintanance Schedule Data Save -->
	<mapping class="com.hospital.model.PeriodicScheduleMaintanaceData" />
	<mapping class="com.hospital.model.PeriodicMaintanaceSubCategeries" />
	<!-- House Keeping Data -->
	<mapping class="com.hospital.model.HouseKeepingItemMaster" />
	<mapping class="com.hospital.model.LaundryProcessState" />
	<mapping class="com.hospital.model.RequestHouseKeep" />
	<mapping class="com.hospital.model.RequestHouseKeepSubCat" />
		
   </session-factory>  
  
</hibernate-configuration>  